body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #F3F3F3 !important;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: #FF7361;
}

body::-webkit-scrollbar-thumb {
    background-color: #ecc3be;
    border-radius: 25px;
    background-clip: content-box;
    border: 5px solid transparent;

}