.contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #000 !important;
}


@media screen and (max-width: 735px) {
    .contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
   }
    .contacts::-webkit-scrollbar {
        display: none;
   }
}

body::-webkit-scrollbar {
  width: 1em;
}

.contacts.expanded {
    height: calc(100% - 334px);
}

.contacts::-webkit-scrollbar {
    width: 8px;
    background: #EE4A35;
}
.contacts::-webkit-scrollbar-thumb {
    background-color: #243140 !important;
}
