.comment-main-level {
    display: flex;
}

.comment-avatar > img {
    border-radius: 50%;
    width: 50px;
}

.comment-head {
    display: flex;
    flex-direction: column;
}

.comment-head i {
    margin-left: 0 !important;
    top: 0px !important;
    float: none !important;
}

.comment-head {
    font-size: 13px;
}

.stats {
    border-top: 1px solid #E5E5E5;
    padding: 12px;
}

.stats i {
    margin-right: 15px;
    font-size: 14px;
}