.about-user {
    position: relative;
    align-items: center;
}

.unfollow-item a {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    background-color: #FF7361;
    border-radius: 3px;
    color: #fff !important;
    text-transform: uppercase;
    transform: translate(-20%, -50%);
}