.comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.comment__user {
    display: flex;
    flex-direction: column;
    border: 1px  solid gray;
    width: 30%;
}

.comment__content {
    width: 70%;
    text-align: center;
    border: 1px  solid gray;

}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}