.post {
    display: flex;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    flex-direction: row;
    padding: 17px 15px;
    margin-bottom: 5px;
    color: #fff;
}

.post-link {
    margin: 0;
    font-size: 20px;
}

.post__details {
    margin-top: 15px;
}

.post-created_at {
    color: #666;
}

.post-comments_count {
    margin-left: 20px;
    color: #666;
}