.write-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
}

.write-comment form {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}